In [1]:
import pandas as pd
import seaborn as sns
import statsmodels.api as sm
import matplotlib.pyplot as plt
import re

In [2]:
#conda install -c anaconda pytest

In [3]:
#conda install -c conda-forge ipytest

In [4]:
import pytest 
import ipytest
ipytest.autoconfig()

In [5]:
list_fips = pd.read_html("https://en.wikipedia.org/wiki/List_of_United_States_FIPS_codes_by_county", match='FIPS', header=0, converters={'FIPS': str})[0]

In [6]:
combined = pd.read_csv(r"/Users/philip.ballentine/Documents/hia_covid_repo/hia_covid_data_assets/hia_covid_combined.csv", dtype={'County_FIPS': 'str'} )

In [7]:
covid = pd.read_csv(r"/Users/philip.ballentine/Documents/hia_covid_repo/hia_covid_data_assets/covid_dataset_full.csv", dtype={'County_FIPS': 'str'} )

In [8]:
counties = pd.read_csv(r"/Users/philip.ballentine/Documents/hia_covid_repo/hia_covid_data_assets/counties_dataset_full.csv", dtype={'County_FIPS': 'str'} )

In [28]:
counties[counties.County_FIPS.isin(['11000'])]

Empty DataFrame
Columns: [Unnamed: 0, County_FIPS, StateCD, Name, HS_DIPLOMA_ONLY_2018, SOME_COLLEGE_2018, BACHELORS_PLUS_2018, Poverty_PCT_2018, UrbanCD, Median_Income_2018, Population_ACS, Population_Black_ACS, Population_Hisp_ACS, Population_Native_ACS, PCT_Black_ACS, PCT_Hisp_ACS, PCT_Native_ACS, UrbanCD_Description, Metro]
Index: []

In [34]:
%%run_pytest[clean]

def county_check(base,next_comp):
    base_fips = set(base.County_FIPS.astype("str").unique())
    comparator_fips = set(next_comp.County_FIPS.astype("str").unique())
    missing = list((base_fips - comparator_fips))
    missing = [str(i) for i in missing] # change to string so that it can be examined 
    r = re.compile("[^72].*") # codes that match puerto rico can't be included
    newlist = list(filter(r.match, missing)) # Read Note
    return newlist

def fips_notna_check(list_dfs):
    list_locs_all = list()
    for i in list_dfs:
        df = i
        df_na = df[df.County_FIPS.isna() == True]
        try:
            list_locs = list(df_na.Name.unique())
            list_locs_all.extend(list_locs)
        except:
            list_locs = list(df_na.locationcol.unique())
            list_locs_all.extend(list_locs)
    return list_locs_all

no tests ran in 0.00s

In [35]:
%%run_pytest[clean]
def test_county_check_1():
    assert county_check(covid, combined) == list()

F                                                                        [100%]
=================================== FAILURES ===================================
_____________________________ test_county_check_1 ______________________________

    def test_county_check_1():
>       assert county_check(covid, combined) == list()
E       AssertionError: assert ['17099', '11...nan', '15005'] == []
E         Left contains 5 more items, first extra item: '17099'
E         Full diff:
E         - []
E         + ['17099', '11001', '51515', 'nan', '15005']

<ipython-input-35-31ffb0d3c0c7>:2: AssertionError
=========================== short test summary info ============================
FAILED tmpw3aceubc.py::test_county_check_1 - AssertionError: assert ['17099',...
1 failed in 0.77s

In [36]:
%%run_pytest[clean]
def test_county_check_2():
    assert county_check(covid, counties) == list()

F                                                                        [100%]
=================================== FAILURES ===================================
_____________________________ test_county_check_2 ______________________________

    def test_county_check_2():
>       assert county_check(covid, counties) == list()
E       AssertionError: assert ['17099', '11...nan', '15005'] == []
E         Left contains 5 more items, first extra item: '17099'
E         Full diff:
E         - []
E         + ['17099', '11001', '51515', 'nan', '15005']

<ipython-input-36-a4be7586f3b5>:2: AssertionError
=========================== short test summary info ============================
FAILED tmpwtjpt_ne.py::test_county_check_2 - AssertionError: assert ['17099',...
1 failed in 0.47s

In [37]:
%%run_pytest[clean]
def test_county_check_3():
    assert county_check(counties, covid) == list()

F                                                                        [100%]
=================================== FAILURES ===================================
_____________________________ test_county_check_3 ______________________________

    def test_county_check_3():
>       assert county_check(counties, covid) == list()
E       AssertionError: assert ['51161', '51...059', '51159'] == []
E         Left contains 6 more items, first extra item: '51161'
E         Full diff:
E         - []
E         + ['51161', '51067', '51019', '02164', '51059', '51159']

<ipython-input-37-395494b54fc2>:2: AssertionError
=========================== short test summary info ============================
FAILED tmp_34q9v4t.py::test_county_check_3 - AssertionError: assert ['51161',...
1 failed in 0.43s

In [38]:
%%run_pytest[clean]
def test_county_check_4():
    assert county_check(combined, counties) == list()

.                                                                        [100%]
1 passed in 0.15s

In [39]:
%%run_pytest[clean]
def test_fips_notna_check():
    assert fips_notna_check([combined, counties, covid]) == list()

F                                                                        [100%]
=================================== FAILURES ===================================
____________________________ test_fips_notna_check _____________________________

    def test_fips_notna_check():
>       assert fips_notna_check([combined, counties, covid]) == list()
E       AssertionError: assert ['Out of AL|A...ifornia', ...] == []
E         Left contains 64 more items, first extra item: 'Out of AL|Alabama'
E         Full diff:
E           [
E         -  ,
E         +  'Out of AL|Alabama',
E         +  'Bristol Bay plus Lake and Peninsula|Alaska',
E         +  'Out of AK|Alaska',...
E
E         ...Full output truncated (63 lines hidden), use '-vv' to show

<ipython-input-39-cfdaec44231c>:2: AssertionError
=========================== short test summary info ============================
FAILED tmpa27r9vwn.py::test_fips_notna_check - AssertionError: assert ['Out o...
1 failed in 0.56s

In [20]:
county_check(covid, counties)

['72147',
 '72117',
 '72027',
 '72063',
 '72075',
 '72003',
 '72037',
 '72061',
 '17099',
 '72031',
 '72115',
 '72045',
 '72131',
 '72127',
 '72149',
 '72089',
 '72105',
 '11001',
 '72021',
 '72015',
 '72121',
 '72069',
 '72017',
 '72093',
 '72113',
 '72153',
 '72055',
 '72011',
 '72065',
 '72141',
 '72007',
 '72054',
 '72049',
 '72009',
 '72097',
 '72111',
 '72029',
 '72145',
 '72133',
 '72001',
 '72059',
 '72119',
 '72125',
 '72067',
 '72085',
 '72005',
 '72107',
 '72023',
 '72019',
 '72143',
 '72039',
 '72079',
 '72047',
 '72101',
 '51515',
 '72025',
 '72109',
 '72053',
 '72051',
 '72129',
 '72073',
 '72095',
 '72077',
 '72043',
 '72033',
 '72013',
 '72081',
 '72091',
 '72139',
 '72041',
 '72137',
 '72151',
 '72057',
 '72083',
 '72071',
 '72099',
 '72135',
 '72123',
 'nan',
 '72035',
 '72103',
 '15005',
 '72087']

In [11]:
missinglist = county_check(counties, covid)

In [12]:
missingfips_df = pd.DataFrame(pd.Series(missinglist), columns = ['FIPS'])
df = missingfips_df.merge(list_fips, on = ["FIPS"])
df

    FIPS           County or equivalent State or equivalent
0  51161                 Roanoke County            Virginia
1  51159                Richmond County            Virginia
2  02164  Lake and Peninsula Borough[a]              Alaska
3  51019              Bedford County[v]            Virginia
4  51067                Franklin County            Virginia
5  51059                 Fairfax County            Virginia

In [186]:
fips_notna_all_test()

AssertionError: assert 1 == 2

In [179]:
fips_notna_check(list_combined)

[]

In [13]:
%%run_pytest[clean]

def negative_check(list_dfs):
    output_dict = dict()
    for df in list_dfs:
        negative_deaths = df[df['Deaths_New'] < 0]
        negative_confirmed = df[df['Confirmed_New'] < 0]
        #df_count = df[df['Deaths'] < 0]
        output_dict['negative_deaths'] = negative_deaths
        output_dict['negative_confirmed']= negative_confirmed
    return output_dict

def test_negative_check():
    output_dict = negative_check([covid])
    assert output_dict['negative_deaths'].shape[0] == 0 and output_dict['negative_confirmed'].shape[0] == 0

F                                                                        [100%]
=================================== FAILURES ===================================
_____________________________ test_negative_check ______________________________

    def test_negative_check():
        output_dict = negative_check([covid])
>       assert output_dict['negative_deaths'].shape[0] == 0 and output_dict['negative_confirmed'].shape[0] == 0
E       assert (3058 == 0)

<ipython-input-13-c994c1ecd00e>:13: AssertionError
=========================== short test summary info ============================
FAILED tmpxgs6ko5o.py::test_negative_check - assert (3058 == 0)
1 failed in 0.05s

In [14]:
fr = negative_check([covid])['negative_deaths']

fr.groupby("locationcol")[fr.columns].count().sort_values(by="Date",ascending=False)

,Unnamed: 0,Date,Admin2,State,Confirmed,Deaths,Country/Region,Deaths_Previous,Confirmed_Previous,Deaths_New,...,Confirmed_New_RollingAvg,Deaths_New_RollingAvg,Deaths_New_+7_RollingAvg,Deaths_New_+14_RollingAvg,Deaths_New_+21_RollingAvg,Deaths_New_+28_RollingAvg,County_FIPS,State Code,Region,Division
locationcol,,,,,,,,,,,,,,,,,,,,,
Out of TN|Tennessee,34,34,34,34,34,34,34,34,34,34,...,34,34,33,32,30,29,0,34,34,34
Union|New Jersey,19,19,19,19,19,19,19,19,19,19,...,19,19,19,19,19,19,19,19,19,19
Bergen|New Jersey,18,18,18,18,18,18,18,18,18,18,...,18,18,17,17,17,17,18,18,18,18
Snohomish|Washington,18,18,18,18,18,18,18,18,18,18,...,18,18,18,17,16,16,18,18,18,18
New York|New York,16,16,16,16,16,16,16,16,16,16,...,16,16,14,14,14,11,16,16,16,16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Montcalm|Michigan,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
Monterey|California,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
Eagle|Colorado,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
Montgomery|Illinois,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,0,0,1,1,1,1
LaGrange|Indiana,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

In [15]:
# Did we lose any counties

In [16]:
# Did we lose any date ranges entirely?

In [17]:
# Duplicates in data

In [18]:
# Junk data 
## Negative counts of cases 
## Negative deaths